<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zgłaszanie</title>
</head>
<body>
    <h1>Zgłaszanie błędu</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=50) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=5, cols=50) }}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('main.index') }}">Powrót na strone glowna</a></p>
</body>
</html>